######################################################################
#
# 	Kconfig for echoe machine; Samsung VD SoC DTV platform
# 	
# 	created by tukho.kim@samsung.com
#
######################################################################
#
# May,31,2010:	created by tukho.kim
# 

if MACH_ECHOE


endif # MACH_ECHOE
