######################################################################
#
# 	Kconfig for Firenze machine; Samsung VD SoC DTV platform
# 	
# 	created by tukho.kim@samsung.com
#
######################################################################
#
# Apr,09,2012:	created by tukho.kim
# 

if MACH_FPGA_FOXB

config FPGA_BUSCLKSRC
	int "FPGA Bus clock source(#3 clock) frequency (Hz)"
	default "50000000"

endif # MACH_FPGA_FOXB
