######################################################################
#
# 	Kconfig for Aquila machine; Samsung VD SoC DTV platform
# 	
# 	created by tukho.kim@samsung.com
#
######################################################################
#
# May,31,2010:	created by tukho.kim
# 

if MACH_FPGA_FLAMENGO

config FPGA_BUSCLKSRC
	int "FPGA Bus clock source(#3 clock) frequency (Hz)"
	default "40625000"

endif # MACH_FPGA_FLAMENGO
